aside {
  grid-area: aside;
  background-color: #fff;
  min-height: calc(100vh - 60px);
  padding: 10px;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.links li {
  padding: 10px;
}

.links li:hover {
  background: #f8f8f8;
}
