.App {
  text-align: center;
}

.main-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 60px 1fr;
}

.wallpaper img {
  width: 100%;
}

header {
  grid-area: header;
  background-color: rgb(89, 167, 89);
}

aside {
  grid-area: aside;
  background-color: rgb(130, 212, 130);
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  grid-area: main;
  background-color: rgb(194, 177, 110);
}

header img {
  width: 60px;
}
