body {
  background-color: #fafafb;
}

.App {
  text-align: center;
}

.main-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "main aside";
  grid-template-columns: 10fr 2fr;
  grid-template-rows: 60px 1fr;
}

main {
  grid-area: main;
}
