body {
  background-color: #f8f8f8;
}

.App {
  text-align: center;
}

.main-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
}

main {
  grid-area: main;
}

main {
  margin: 20px 40px;
  padding: 15px;
  background: #fff;
  border-radius: 7px;
  border: 1px rgb(245, 245, 245) solid;
}
